<footer class="text-muted">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <p>
        <%= copyright_generator %>
      </p>
      <p class="ml-auto">
        <%= link_to "View All Portfolio Items", portfolios_path %> | 
        <a href="#">Back to top</a>
      </p>
    </div>
    
  </div>
</footer>
