<h1>About Me</h1>
<p> I am an Electrical Engineer with a degree in Civil Engineering. I also do Software Engineering and Development.</p>

<p> I decided to use this website to share my work and my thoughts on industry</p>