<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 250, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I am an Electrical Engineer with a degree in Civil Engineering. I also do Software Engineering and Development.</p>

        <p>I decided to use this website to share my work and my thoughts on industry. </p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Research Intern - City University of Hong Kong
            </div>
            <div class="card card-block">
              Electrical Design Co-op - Introba, Toronto
            </div>
            <div class="card card-block">
              Electrical Design Intern - Introba, Toronto
            </div>
            <div class="card card-block">
              Junior Electrical Designer - Introba, Toronto
            </div>
            <div class="card card-block">
              Intermediate Electrical Designer - Introba, Toronto
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              BASc Civil Engineering - University of Toronto
            </div>
            <div class="card card-block">
              City University of Hong Kong - Summer Exchange
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
